*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.heading{
    text-align: center;
    color: chocolate;
    margin: 10px;
}
.container{
    margin: 20px;
    /* border-style: groove; */
    /* border-color: rgb(6, 138, 6); */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
.card{
    border: 1px solid goldenrod;
}
.inner{

    overflow: hidden;
}
.card-img-top{
    transition: all 1.5s ease;
}

.card-img-top:hover{

}